<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>Perfil - Bit Crítico</title>
  <link rel="stylesheet" href="./estilos/index.css" />
</head>
<body>
  <header>
    <div class="logo"><a class="logo titulo" href="../index.php">Bit Crítico</a></div>
    <nav>
      <a class="teste" href="jogos.html">Jogos A-Z</a>
  </nav>
    <div class="telas">
      <button class="voltar" onclick="history.back()">⬅️</button>
    </div>


    
  </header>

  <main class="conteudo-centralizado">
    <div class="form-box perfil">
      <h2>Perfil de Usuário</h2>
      <div class="perfil-container">
        <div class="perfil-info">
          <p><strong>Nome:</strong>Nome da Pessoa</p>
          <p><strong>Email:</strong>Email da Pessoa</p>
        </div>
        <div class="perfil-foto"></div>
      </div>

      <div class="perfil-secao">
        <h3>Meu top jogos:</h3>
        <div class="jogos-top">
          <div class="jogo-box"></div>
          <div class="jogo-box"></div>
          <div class="jogo-box"></div>
        </div>
      </div>

      <div class="perfil-secao">
        <h3>Minhas plataformas:</h3>
        <div class="plataformas">
          <div class="plataforma-box"></div>
          <div class="plataforma-box"></div>
          <div class="plataforma-box"></div>
        </div>
      </div>
    </div>
  </main>

  <footer class="rodape">
        <p>© 2025 Bit Crítico. Criado por Gabriel, Vinicius, Matheus, Davi, Eduardo.</p>
        <div class="midiaSocial">
            <a href="../index.php">Bit Crítico</a>
            <a href="https://www.instagram.com/bit_critico?igsh=MW0zdTdxOGpwNnk4bw==">Instagram</a>
        </div>
    </footer>
</body>
</html>
